html {
    font-size: clamp(0.5rem, 1.5vh, 2rem);

    overflow-x: hidden;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    >.main {
        height: 100%;
        width: 100%;

        text-align: center;
        align-content: center;
        >.title {
            display: block;
            font-size: 4rem;
        }
    }
}